/*** Colors ***/

/*** Fonts ***/
$primary-font-family: sans-serif;
$roboto-font-path: "../../font/roboto/" !default;
$icons-font-path: "../../font/material-design-icons/" !default;

/*** Images ***/
$image-path: "../img/" !default;