@charset "UTF-8";

// Mixins
@import "../vendor/materialize/components/color";

// Variables;
@import "custom/variables";

// Styles
body {
  margin-top: 0;
}

.page-title {
  padding: 10px 20px;
  h2 {
    margin: 0;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  .subheader {
    font-family: $primary-font-family;
    font-size: 60%;
    text-align: right;
    * {
      vertical-align: middle;
    }
  }
}

#links {
  text-align: center;
  a {
    font-size: 0;
    line-height: 0;
  }
  img {
    margin: 0 5px;
  }
}