@charset "UTF-8";

// Mixins
@import "../vendor/materialize/components/prefixer";
@import "../vendor/materialize/components/mixins";
@import "../vendor/materialize/components/color";
@import "custom/mixins";

// Variables;
@import "../vendor/materialize/components/variables";
@import "custom/variables";

// Reset
@import "../vendor/materialize/components/normalize";

// components
@import "../vendor/materialize/components/global";
@import "../vendor/materialize/components/icons-material-design";
@import "../vendor/materialize/components/grid";
@import "../vendor/materialize/components/navbar";
//@import "../vendor/materialize/components/roboto";
@import "../vendor/materialize/components/typography";
@import "../vendor/materialize/components/cards";
//@import "../vendor/materialize/components/toast";
//@import "../vendor/materialize/components/tabs";
@import "../vendor/materialize/components/tooltip";
@import "../vendor/materialize/components/buttons";
@import "../vendor/materialize/components/dropdown";
@import "../vendor/materialize/components/waves";
//@import "../vendor/materialize/components/modal";
@import "../vendor/materialize/components/collapsible";
//@import "../vendor/materialize/components/chips";
@import "../vendor/materialize/components/materialbox";
@import "../vendor/materialize/components/forms/forms";
@import "../vendor/materialize/components/table_of_contents";
@import "../vendor/materialize/components/sideNav";
@import "../vendor/materialize/components/preloader";
//@import "../vendor/materialize/components/slider";
//@import "../vendor/materialize/components/carousel";
@import "../vendor/materialize/components/date_picker/default";
@import "../vendor/materialize/components/date_picker/default.date";
@import "../vendor/materialize/components/date_picker/default.time";
/* Preloader --- */

#preloader-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .preloader-wrapper {
    position: relative;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
    z-index: 1001;
  }
  .preloader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $secondary-color;
    z-index: 1000;
    @include transform(translateX(0));
    &.section-left {
      left: 0;
    }
    &.section-right {
      right: 0;
    }
  }
}

.empty {
  * {
    visibility: hidden;
  }
  #preloader-box, #preloader-box * {
    visibility: visible;
  }
}

.loaded {
  #preloader-box {
    .preloader-section {
      @include transition(all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000));
      &.section-left {
        @include transform(translateX(-100%));
      }
      &.section-right {
        @include transform(translateX(100%));
      }
    }
    .preloader-wrapper {
      opacity: 0;
      @include transition(all 0.3s ease-out);
    }
    visibility: hidden;
    @include transform(translateY(-100%));
    @include transition(all 0.3s 1s ease-out);
  }
  * {
    visibility: visible;
  }
}

.no-js {
  #preloader-box {
    display: none;
  }
}

/* Styles --- */

html {
  font-family: $primary-font-family;
  font-weight: 300;
  font-size: 1.02rem;
  color: $primary-color;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: $secondary-color;
  font-family: $navigation-font-family;
  a {
    color: $white-color;
    &:hover {
      text-decoration: none;
      color: $white-color;
    }
  }
  .dropdown-content {
    li {
      a {
        font-size: 1rem;
        &:hover {
          color: $black-color;
        }
      }
    }
  }
  #logo-info {
    display: block;
    position: absolute;
    color: $white-color;
    background-color: $primary-color;
    width: 300px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    z-index: 2;
    line-height: 1.5rem;
    top: -300px;
    transition: top 0.8s;
  }
  .brand-logo {
    z-index: 3;
  }
  .brand-logo:hover + #logo-info {
    top: 99px;
  }
  #search-btn {
    width: 4rem;
    text-align: center;
    color: $white-color;
    background-color: $primary-color;
    i {
      display: block;
      cursor: pointer;
      height: $navbar-height;
      line-height: $navbar-height;
    }
  }
  .side-nav {
    a {
      &:hover {
        color: $secondary-color;
        background-color: transparent;
      }
    }
    .dropdown-button {
      .material-icons {
        height: $sidenav-item-height;
        line-height: $sidenav-item-height;
      }
    }
    .dropdown-content {
      a {
        line-height: 1.8rem;
      }
    }
  }
}

.btn {
  color: $white-color;
  background-color: $secondary-color;
  &:hover {
    color: $white-color;
    background-color: $secondary-light-color;
    text-decoration: none;
  }
}

#search-form-box {
  position: absolute;
  top: 0;
  right: 0;
  color: $white-color;
  background-color: $primary-color;
  h3 {
    font-size: 1.4rem;
  }
  label {
    cursor: pointer;
  }
  z-index: 3;
  padding: 0 20px;
  .search-field {
    input {
      border-color: $white-color;
    }
    label {
      color: $white-color;
      &.active {
        color: $third-light-color;
      }
    }
  }
  .help-block {
    color: $third-light-color;
  }
}

.header {
  color: $third-color;
}

.icon-block {
  .material-icons {
    font-size: 4rem;
    color: $secondary-color;
  }
  h5 {
    color: $black-color;
  }
}

footer.page-footer {
  background-color: $third-dark-color;
  color: $white-color;
  h5 {
    color: $grey-light-color;
  }
  a {
    color: $white-color;
  }
  .footer-copyright {
    padding-bottom: 1rem;
  }
}

#scrollUp {
  background: url('../img/scrollup.png') no-repeat center center;
}

// IE 10, 11 hack
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // Flexbox emulation begin
  html,
  body {
    height: 100%;
  }

  body {
    display: table;
    width: 100%;
  }

  .page-row {
    display: table-row;
    height: 1px;
  }

  .page-row-expanded {
    height: 100%;
  }
  // Flexbox emulation end
}