@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";
@import "custom/mixins";

// Variables;
@import "components/variables";
@import "custom/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
//@import "components/roboto";
@import "components/typography";
@import "components/cards";
//@import "components/toast";
//@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
//@import "components/modal";
@import "components/collapsible";
//@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
//@import "components/slider";
//@import "components/carousel";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";
/* Preloader --- */

#preloader-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .preloader-wrapper {
    position: relative;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
    z-index: 1001;
  }
  .preloader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $secondary-color;
    z-index: 1000;
    @include transform(translateX(0));
    &.section-left {
      left: 0;
    }
    &.section-right {
      right: 0;
    }
  }
}

.empty {
  * {
    visibility: hidden;
  }
  #preloader-box, #preloader-box * {
    visibility: visible;
  }
}

.loaded {
  #preloader-box {
    .preloader-section {
      @include transition(all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000));
      &.section-left {
        @include transform(translateX(-100%));
      }
      &.section-right {
        @include transform(translateX(100%));
      }
    }
    .preloader-wrapper {
      opacity: 0;
      @include transition(all 0.3s ease-out);
    }
    visibility: hidden;
    @include transform(translateY(-100%));
    @include transition(all 0.3s 1s ease-out);
  }
  * {
    visibility: visible;
  }
}

.no-js {
  #preloader-box {
    display: none;
  }
}

/* Styles --- */

html {
  font-family: $primary-font-family;
  font-weight: 300;
  font-size: 1.02rem;
  color: $primary-color;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


footer {
  margin-top: 4rem;
  font-size: 90%;
}

#scrollUp {
  background: url('../img/scrollup.png') no-repeat center center;
}

// IE 10, 11 hack
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // Flexbox emulation begin
  html,
  body {
    height: 100%;
  }

  body {
    display: table;
    width: 100%;
  }

  .page-row {
    display: table-row;
    height: 1px;
  }

  .page-row-expanded {
    height: 100%;
  }
  // Flexbox emulation end
}